<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Engineering</title>
</head>

<body>
    <div class="header-box">
        <header class="header">
            <img class="header__logo" src="" alt="">
            <a class="header__phone" href="tel:+74872259832">+ 7 4872 25 98 32</a>
        </header>
        <nav class="top-menu">
            <ul class="top-menu__list">
                <li class="top-menu__item">
                    <a class="top-menu__link" href="#">О центре</a>
                </li>
                <li class="top-menu__item">
                    <a class="top-menu__link" href="#">Услуги</a>
                </li>
                <li class="top-menu__item">
                    <a class="top-menu__link" href="#">Конкурсная документация</a>
                </li>
                <li class="top-menu__item">
                    <a class="top-menu__link" href="#">Запрос коммерческих предложений</a>
                </li>
                <li class="top-menu__item top-menu__item_active">
                    <a class="top-menu__link" href="#">Мероприятия</a>
                </li>
                <li class="top-menu__item">
                    <a class="top-menu__link" href="#">Новости</a>
                </li>
                <li class="top-menu__item">
                    <a class="top-menu__link" href="#">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="banner">
            <div class="banner__title">Центр инжиниринга</div>
            <div class="banner__subtitle">Тульского регионального фонда Центр поддержки предпринимательства</div>
            <div class="banner__advantages">
                <div class="banner__advantage advantage">
                    <img class="advantage__logo" src="" alt="">
                    <div class="advantage__text">Доступность востребованных инжиниринговых услуг для производственных
                        СМСП</div>
                </div>
                <div class="banner__advantage advantage">
                    <img class="advantage__logo" src="" alt="">
                    <div class="advantage__text">Рост количества высоко-производительных рабочих мест Тульского региона
                    </div>
                </div>
                <div class="banner__advantage advantage">
                    <img class="advantage__logo" src="" alt="">
                    <div class="advantage__text">Увеличение объем производства продукции</div>
                </div>
                <div class="banner__advantage advantage">
                    <img class="advantage__logo" src="" alt="">
                    <div class="advantage__text">Внедрение инноваций и передовых технологий в производственные процессы
                    </div>
                </div>
            </div>
            <div class="banner__buttons">
                <div class="banner__button">Конкурсная документация</div>
                <div class="banner__button">Коммерческие предложения</div>
            </div>
        </div>
    </div>
</body>

</html>