<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Engineering</title>

    <link rel="stylesheet" href="app/css/style.css">
    <link rel="stylesheet" href="app/fonts/stylesheet.css">
</head>

<body>
<header class="header">
    <div class="container">
        <div class="header__wrap">
            <div class="header__top-box">
                <div class="header__logo">
                    <img class="header__logo-img" src="app/img/site-logo.png" alt="">
                    <div class="header__logo-text">Центр</br> поддержки</br> предпринимательства</div>
                </div>

                <a class="header__phone" href="tel:+74872259832">+ 7 4872 25 98 32</a>
            </div>
            <nav class="header__top-menu top-menu">
                <ul class="top-menu__list">
                    <li class="top-menu__item">
                        <a class="top-menu__link" href="#">О центре</a>
                    </li>
                    <li class="top-menu__item">
                        <a class="top-menu__link" href="#">Услуги</a>
                    </li>
                    <li class="top-menu__item">
                        <a class="top-menu__link" href="#">Конкурсная документация</a>
                    </li>
                    <li class="top-menu__item">
                        <a class="top-menu__link" href="#">Запрос коммерческих предложений</a>
                    </li>
                    <li class="top-menu__item top-menu__item_active">
                        <a class="top-menu__link" href="#">Мероприятия</a>
                    </li>
                    <li class="top-menu__item">
                        <a class="top-menu__link" href="#">Новости</a>
                    </li>
                    <li class="top-menu__item">
                        <a class="top-menu__link" href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<main class="main">
    <section class="banner-section">
        <div class="container">
            <div class="banner">
                <h1 class="banner__title">Центр инжиниринга</h1>

                <div class="banner__subtitle">Тульского регионального фонда Центр поддержки предпринимательства
                </div>
                <div class="banner__advantages">
                    <div class="banner__advantage advantage">
                        <div class="advantage__logo-container">
                            <img class="advantage__logo" src="app/img/advantage-logo1.png" alt="">
                        </div>
                        <div class="advantage__text">Доступность востребованных инжиниринговых услуг для
                            производственных
                            СМСП</div>
                    </div>
                    <div class="banner__advantage advantage">
                        <div class="advantage__logo-container advantage__logo-container_bg-color_white">
                            <img class="advantage__logo" src="app/img/advantage-logo2.png" alt="">
                        </div>

                        <div class="advantage__text">Рост количества высоко-производительных рабочих мест
                            Тульского
                            региона
                        </div>
                    </div>
                    <div class="banner__advantage advantage">
                        <div class="advantage__logo-container">
                            <img class="advantage__logo" src="app/img/advantage-logo3.png" alt="">
                        </div>

                        <div class="advantage__text">Увеличение объем производства</br> продукции</div>
                    </div>
                    <div class="banner__advantage advantage">
                        <div class="advantage__logo-container advantage__logo-container_bg-color_white">
                            <img class="advantage__logo" src="app/img/advantage-logo4.png" alt="">
                        </div>

                        <div class="advantage__text">Внедрение инноваций и передовых технологий в
                            производственные
                            процессы
                        </div>
                    </div>
                </div>
                <div class="banner__buttons">
                    <a class="banner__button" href="#">Конкурсная документация</a>
                    <a class="banner__button" href="#">Коммерческие предложения</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section servises-section">
        <div class="container">
            <div class="section__wrap">
                <h2 class="section__title">Услуги центра</h2>

                <div class="services">
                    <a class="services__servise service" href="#">
                        <img class="service__logo" src="app/img/img 1.png" alt="">
                        <div class="service__description">Проведение экспресс-оценки индекса технологической
                            готовности СМСП.</div>
                    </a>
                    <a class="services__service service" href="#">
                        <img class="service__logo" src="app/img/img 2.png" alt="">
                        <div class="service__description">Анализ потенциала предприятий, выявление текущих
                            потребностей и проблем предприятий, влияющих на их конкурентоспособность.</div>
                    </a>
                    <a class="services__service service" href="#">
                        <img class="service__logo" src="app/img/img 3.png" alt="">
                        <div class="service__description">Проведение технических аудитов (технологического /
                            энергетического / экологического / аудита производства в целях предсертификационной,
                            предлицензионной подготовки).</div>
                    </a>
                    <a class="services__service service" href="#">
                        <img class="service__logo" src="app/img/img 4.png" alt="">
                        <div class="service__description">Содействие в разработке программ модернизации / развития /
                            технического перевооружения производства для предприятий МСП.</div>
                    </a>
                    <a class="services__service service" href="#">
                        <img class="service__logo" src="app/img/img5.png" alt="">
                        <div class="service__description">Консультационные услуги по защите прав на результаты
                            интеллектуальной деятельности (патентные услуги).</div>
                    </a>
                    <a class="servises__service service" href="#">
                        <img class="service__logo" src="app/img/img6.png" alt="">
                        <div class="service__description">Инженерно-исследовательские, проектно-конструкторские и
                            расчетно - аналитические работы.</div>
                    </a>
                    <a class="services__service service" href="#">
                        <img class="service__logo" src="app/img/img7.png" alt="">
                        <div class="service__description">Содействие в получении маркетинговых услуг, услуг по
                            позиционирова- нию и продвижению новых видов продукции (товаров, услуг) на российском и
                            международном рынках.</div>
                    </a>
                    <a class="services__service service" href="#">
                        <img class="service__logo" src="app/img/img8.png" alt="">
                        <div class="service__description">Подготовка, переподготовка и повышение квалификации
                            кадров.
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

</main>
</body>

</html>
