* {
    box-sizing: border-box;
}

body {
    font-family: 'Museo Sans Cyrl 900', sans-serif;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

* {
    /* border: 1px red solid; */
}

.header {
    position: relative;
}

.header__top-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 57px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-img {
    width: 86px;
    height: 84px;
}

.header__logo-text {
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 10px;
}

.header__phone {
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.header__phone::before {
    content: "";
    background: url(../img/phone-icon.png) no-repeat;
    background-size: cover;
    height: 18px;
    width: 17px;
    display: block;
    margin-right: 15px;
}

/* Top menu  */

.top-menu {
    height: 94px;
    padding-bottom: 14px;
}

.top-menu__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: #ffffff;
    z-index: 10;
    position: relative;
}

.top-menu__item {
    font-family: 'Museo Sans Cyrl 700', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    color: #000000;
    background-color: #ffffff;
}

.top-menu__item:hover, .top-menu__item_active {
    background-color: #ee700e;
    color: #ffffff;
}

.top-menu__item::after {
    content: "";
    display: block;
    height: 14px;
    width: 100%;
}

.top-menu__item:hover.top-menu__item::after, .top-menu__item_active::after {
    background-color: #ee700e;
}

.top-menu__link {
    display: flex;
    padding: 0 17px;
    color: inherit;
    height: 100%;
    align-items: center;
}

/* Banner  */

.banner-section {
    background: url(../img/banner-bg.jpg) no-repeat;
    background-size: cover;
    margin-top: -242px;
    padding-top: 242px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 61px;
    padding-bottom: 109px;
}

.banner__title {
    color: #ffffff;
    font-size: 42px;
    font-weight: 400;
    line-height: 46px;
    text-transform: uppercase;
}

.banner__subtitle {
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
}

.banner__advantages {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.banner__advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 275px;
    width: 100%;
    color: #ffffff;
    font-family: 'Museo Sans Cyrl 700', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 30px;
}

.advantage__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 93px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.advantage__logo-container_bg-color_white {
    background-color: #ffffff;
}

.advantage__logo {
    width: 55px;
    height: 53px;
}

.advantage__text {
    padding-top: 38px;
    text-align: center;
}

.banner__buttons {
    display: flex;
    justify-content: center;
    padding-top: 86px;
}

.banner__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 234px;
    height: 60px;
    background-color: #ffffff;
    margin: 0 15px;
    font-family: "Museo Sans Cyrl 500", sans-serif;
    color: #727272;
    cursor: pointer;
    border-radius: 3px;
}

.banner__button:hover {
    background-color: #ee700e;
    color: #eaece7;
}

.section__title {
    display: flex;
    justify-content: center;
    height: 34px;
    font-family: "Museo Sans Cyrl 900", sans-serif;
    line-height: 23px;
    padding-top: 76px;
    font-size: 36px;
}

.section__title_white {
    color: #ffffff;
}

.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 87px;
}

.service {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    width: 100%;
    padding: 50px 55px 45px;
    transition: 0.3s;
    border: 1px solid transparent;
}

.service:hover {
    border: 1px solid #ee700e;
}

.service:hover .service__description {
    color: #ee700e;
    font-weight: bold;
}

.service:hover .services__link {
    opacity: 1;
}

.service__logo {
    width: 41px;
    height: 40px;
    flex: 0 0;
}

.service__description {
    width: 173px;
    color: #6b6b6b;
    font-family: "Museo Sans Cyrl 300", sans-serif;
    padding-top: 42px;
    transition: 0.3s;
    flex: 1 1;
}

.services__link {
    display: inline-block;
    flex: 0 0;
    font-family: "Museo Sans Cyrl 300", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #6b6b6b;
    opacity: 0;
    transition: 0.3s;
    padding-top: 15px;
}

.services__link::after {
    content: '\2192';
    padding-left: 11px;
}

.services__link:hover {
    color: #ee700e;
    text-decoration: underline;
}

.news-section {
    background: url(../img/news-bg.jpg) no-repeat;
    background-size: cover;
}

.news {
    display: flex;
    padding-top: 85px;
    justify-content: space-between;
}

.news-card {
    padding: 80px 50px;
    max-width: 340px;
    width: 100%;
    color: #ffffff;
}

.news-card__date {
    display: flex;
    flex-direction: column;

}

.news-card__day {
    font-family: "Museo Sans Cyrl 900", sans-serif;
    font-size: 24px;
}

.news-card__month,
.news-card__year {
    font-family: "Museo Sans Cyrl 500", sans-serif;
    padding-top: 10px;
}

.news-card__title {
    font-family: "Museo Sans Cyrl 700", sans-serif;
    font-size: 20px;
}

.news-card__title::after {
    content: "";
    display: block;
    border-bottom: 1px #ee7c0e solid;
    width: 25px;
    padding-top: 35px;
}

.news-card__buttons {
    padding-top: 45px;
}

.news-card__btn,
.news-card__read-btn {
    border: 1px #ee700e solid;
    border-radius: 3px;
    padding: 12px 16px;
    color: #ee700e;
    margin-left: 14px;
}

.news-card__btn_orange {
    background-color: #ee700e;
}

.news-card__read-btn:hover {
    color: white;
    background-color:#ee700e;
}

.news-card_white {
    color: black;
    background-color: #ffffff;
}

.news-card__show-all-container {
    display:flex;
    justify-content: flex-end;
    padding-top: 85px;
    padding-bottom: 85px;
}

.news-card__show-all {
    border: 1px #ee700e solid;
    border-radius: 3px;
    padding: 12px 16px;
   background-color: #ee700e;
    color: white;
}

.news-card__show-all:hover {
    background-color: white;
    color: #ee700e;
}
