body {
    background-color: gray;
    font-family: 'Museo Sans Cyrl 900';
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

.header__top-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 57px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-img {
    width: 86px;
    height: 84px;
}

.header__logo-text {
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 10px;
}

.header__phone {
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    
}

.header__phone::before {
    content:"";
    background: url(../img/phone-icon.png) no-repeat;
    background-size: cover;
    height: 18px;
    width: 17px;
    display: block;
    margin-right: 15px;

}

.top-menu {
    height: 94px;
    padding-bottom: 14px;
}

.top-menu__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: #ffffff;
}

.top-menu__item {
    font-family: 'Museo Sans Cyrl 700';
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    color: #000000;
    background-color: #ffffff;
}

.top-menu__item:hover,
.top-menu__item_active {
    background-color: #ee700e;
    color: #ffffff;
}

.top-menu__item::after {
    content: "";
    display: block;
    height: 14px;
    width: 100%;
}

.top-menu__item:hover.top-menu__item::after,
.top-menu__item_active::after {
    background-color: #ee700e;
}

.top-menu__link {
    display: flex;
    padding: 0 17px;
    color: inherit;
    height: 100%;
    align-items: center;
}